@model PiesListViewModel

<h1>@Model.CurrentCategory</h1>
@foreach (var pie in Model.Pies)
{
    <!-- the following calls the partial view _PieCard from './Views/Shared' (which is by convention) and passes var pie as the model -->
    <partial name="_PieCard" model="pie" />
}